In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
import pandas as pd 

df = pd.read_csv('/Users/lauram/mtb_snail_uploads2/data/Utuado-Lista_09262017.csv', 
                 header=None)

df.columns = ['first_name', 'last_name', 'town', 'neighborhood', 'data', 
               'hour', 'comment', 'volunteer', 'data_source']

df.head()

for i in df.columns[2:].tolist():
    df[i] = df[i].shift(-1)

df['data_source'] = df['data_source'].str.replace('Ponce', 'Utuado')

df['town'] = df['town'].str.replace('Ponce','Utuado')

#df.to_csv('utuado_092617.csv')

In [4]:
df.head()

,first_name,last_name,town,neighborhood,data,hour,comment,volunteer,data_source
0,Waziel,Collazo,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg

In [5]:
df2 = pd.read_csv('/Users/lauram/mtb_snail_uploads2/data/092617_batch_001.csv')

In [6]:
df2.columns

Index([u'person_record_id', u'author_name', u'author_email', u'author_phone',
       u'source_name', u'Timestamp', u'source_url', u'full_name',
       u'given_name', u'family_name', u'alternate_names', u'description',
       u'sex', u'date_of_birth', u'age', u'home_street', u'home_neighborhood',
       u'home_city', u'home_state', u'home_postal_code', u'home_country',
       u'photo_url', u'profile_urls', u'note_record_id',
       u'author_made_contact', u'status', u'email_of_found_person',
       u'phone_of_found_person', u'last_known_location', u'text',
       u'Unnamed: 30'],
      dtype='object')

In [7]:
df2.head(1)

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,alternate_names,description,sex,date_of_birth,age,home_street,home_neighborhood,home_city,home_state,home_postal_code,home_country,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,Unnamed: 30
0,1.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,NaN,NaN,NaN,NaN,NaN,NaN,Urb. Haciendas Monserrate,Manatí,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Pedro Uribe. Están bien y también su c...,NaN

columns needed:

In [8]:
df2.columns

Index([u'person_record_id', u'author_name', u'author_email', u'author_phone',
       u'source_name', u'Timestamp', u'source_url', u'full_name',
       u'given_name', u'family_name', u'alternate_names', u'description',
       u'sex', u'date_of_birth', u'age', u'home_street', u'home_neighborhood',
       u'home_city', u'home_state', u'home_postal_code', u'home_country',
       u'photo_url', u'profile_urls', u'note_record_id',
       u'author_made_contact', u'status', u'email_of_found_person',
       u'phone_of_found_person', u'last_known_location', u'text',
       u'Unnamed: 30'],
      dtype='object')

In [9]:
rename_map = {'volunteer': 'author_name', 'comment': 'text', 'data': 'date'}

In [10]:
df = df.rename(index = None, columns=rename_map)

In [11]:
df.head()

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source
0,Waziel,Collazo,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg

In [12]:
df['full_name'] = df['first_name'].str.cat(df['last_name'], sep =' ', na_rep='')

In [13]:
df.head()

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name
0,Waziel,Collazo,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Sleiny Candelaria
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Zulgenielis Candelaria
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Keydan Candelaria
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Angel Reyes Fradera

In [14]:
df['hour'].fillna('00:00:00', inplace=True)

In [15]:
df['timestamp'] = df['date'].str.cat(df['hour'], sep = ' ', na_rep = '' )

In [16]:
df.head(1)

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,timestamp
0,Waziel,Collazo,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo,09-26-2017 00:00:00

In [17]:
df2.head(1)

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,alternate_names,description,sex,date_of_birth,age,home_street,home_neighborhood,home_city,home_state,home_postal_code,home_country,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,Unnamed: 30
0,1.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,NaN,NaN,NaN,NaN,NaN,NaN,Urb. Haciendas Monserrate,Manatí,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Pedro Uribe. Están bien y también su c...,NaN

In [18]:
df2.drop('Unnamed: 30', axis=1, inplace=True)

In [19]:
set(df2.columns).difference(set(df.columns))

{'Timestamp',
 'age',
 'alternate_names',
 'author_email',
 'author_made_contact',
 'author_phone',
 'date_of_birth',
 'description',
 'email_of_found_person',
 'family_name',
 'given_name',
 'home_city',
 'home_country',
 'home_neighborhood',
 'home_postal_code',
 'home_state',
 'home_street',
 'last_known_location',
 'note_record_id',
 'person_record_id',
 'phone_of_found_person',
 'photo_url',
 'profile_urls',
 'sex',
 'source_name',
 'source_url',
 'status'}

In [ ]:
for i in set(df2.columns).difference(set(df.columns)):
    df[i] = ''

# posibles statuses en el google person finder: 
1. unspecified, 2. i am seeking information, 3. i am this person. 4. i have received information that this person is alive.  5. i have reason to think this person is missing.

In [20]:
df.head()

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,timestamp
0,Waziel,Collazo,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo,09-26-2017 00:00:00
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Sleiny Candelaria,09-26-2017 00:00:00
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Zulgenielis Candelaria,09-26-2017 00:00:00
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Keydan Candelaria,09-26-2017 00:00:00
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Angel Reyes Fradera,09-26-2017 00:00:00

In [21]:
DF = pd.concat([df2, df], axis=1)

In [22]:
DF.head()

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,alternate_names,description,sex,date_of_birth,age,home_street,home_neighborhood,home_city,home_state,home_postal_code,home_country,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,timestamp
0,1.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,NaN,NaN,NaN,NaN,NaN,NaN,Urb. Haciendas Monserrate,Manatí,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Pedro Uribe. Están bien y también su c...,Waziel,Collazo,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo,09-26-2017 00:00:00
1,2.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:36:30,NaN,Pedro Uribe,Pedro,Uribe,NaN,NaN,NaN,NaN,NaN,NaN,Urb. Haciendas Monserrate,Manatí,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Ingrid Garriga. Están bien y también s...,Sleiny,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Sleiny Candelaria,09-26-2017 00:00:00
2,3.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 20:05:14,NaN,Fernando Ortiz Dicorely,Fernando,Ortiz Dicorely,NaN,NaN,NaN,NaN,NaN,NaN,Seccion 3 Levittown,Toa Baja,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Fabian Ortiz Dicorely,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Zulgenielis Candelaria,09-26-2017 00:00:00
3,4.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 20:05:59,NaN,Fabian Ortiz Dicorely,Fabian,Ortiz Dicorely,NaN,NaN,NaN,NaN,NaN,NaN,Seccion 3 Levittown,Toa Baja,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,junto a Fernando Ortiz Dicorely,Keydan,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Keydan Candelaria,09-26-2017 00:00:00
4,5.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 20:07:05,NaN,Jose Luis Dicorrelly,Jose Luis,Dicorrelly,NaN,NaN,NaN,NaN,NaN,NaN,Sección 3 Levittown,Toa Baja,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,y Familia (no están los nombres),Angel,Reyes Fradera,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Angel Reyes Fradera,09-26-2017 00:00:00

In [23]:
DF['person_record_id'] = DF.index + 1

In [24]:
DF.tail(20)

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,alternate_names,description,sex,date_of_birth,age,home_street,home_neighborhood,home_city,home_state,home_postal_code,home_country,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,timestamp
613,614,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:40:21,NaN,Donna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,from New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,615,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/27/2017 19:40:21,NaN,Chris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,from New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,616,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:41:02,NaN,Dr. Mackenzie,Dr. Mackenzie,Dr. Mackenzie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,617,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:41:34,NaN,Ileana,NaN,Ileana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,618,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:41:58,NaN,Ixchel,NaN,Ixchel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,S Designs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,619,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:42:42,NaN,Jose Antonio Mellado Choisne,Jose Antonio,Mellado Choisne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,620,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:43:06,NaN,Michel Nisius,Michel,Nisius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,621,Isabel Mattina,mariatechbrigade@gmail.com,NaN,NaN,9/26/2017 19:43:25,NaN,Laura Owens,Laura,Owens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vieques,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# More Vieques:

In [25]:
df_new = pd.read_csv('/Users/lauram/Downloads/Vieques Safe List - Current - Sheet1.csv')

In [26]:
df_new['full_name'] = df_new['FIRST NAME (Nombre)'].str.cat(df_new['Apellidos (LAST NAME)'],sep = ' ', na_rep = '')

In [27]:
df_new.head()

,FIRST NAME (Nombre),Apellidos (LAST NAME),OTHER FAMILY MEMBERS (Otros familiares),Unnamed: 3,Unnamed: 4,TOTAL COUNT,full_name
0,Carlos,Acensio,NaN,NaN,1.0,835.0,Carlos Acensio
1,Onyx,Acevedo,NaN,AR,1.0,NaN,Onyx Acevedo
2,Angie,Adams,NaN,AR,1.0,NaN,Angie Adams
3,Gladys,Adams,NaN,NaN,1.0,NaN,Gladys Adams
4,Jorge,Adams,741 Taxi,NaN,1.0,NaN,Jorge Adams

In [28]:
df2.columns

Index([u'person_record_id', u'author_name', u'author_email', u'author_phone',
       u'source_name', u'Timestamp', u'source_url', u'full_name',
       u'given_name', u'family_name', u'alternate_names', u'description',
       u'sex', u'date_of_birth', u'age', u'home_street', u'home_neighborhood',
       u'home_city', u'home_state', u'home_postal_code', u'home_country',
       u'photo_url', u'profile_urls', u'note_record_id',
       u'author_made_contact', u'status', u'email_of_found_person',
       u'phone_of_found_person', u'last_known_location', u'text'],
      dtype='object')

In [29]:
rename_map_new = {'FIRST NAME (Nombre)': 'given_name', 
                  'Apellidos (LAST NAME)': 'family_name'}

In [30]:
df_new = df_new.rename(columns=rename_map_new)

In [31]:
df_new.head()

,given_name,family_name,OTHER FAMILY MEMBERS (Otros familiares),Unnamed: 3,Unnamed: 4,TOTAL COUNT,full_name
0,Carlos,Acensio,NaN,NaN,1.0,835.0,Carlos Acensio
1,Onyx,Acevedo,NaN,AR,1.0,NaN,Onyx Acevedo
2,Angie,Adams,NaN,AR,1.0,NaN,Angie Adams
3,Gladys,Adams,NaN,NaN,1.0,NaN,Gladys Adams
4,Jorge,Adams,741 Taxi,NaN,1.0,NaN,Jorge Adams

In [32]:
df_new['OTHER FAMILY MEMBERS (Otros familiares)'].value_counts()

y familia                                            5
Spelling?                                            4
741 Taxi                                             2
Family (familia)                                     2
from F&W                                             2
VHS                                                  2
Airport Security Giuard                              1
and Family (familia)                                 1
Dentist                                              1
y Aydan                                              1
Mitch the painter                                    1
4 children (4 hijos)                                 1
Sp?                                                  1
Wife Johanis (esposa)                                1
Che                                                  1
live on Calle 11 in Monte Santo                      1
y su esposa                                          1
Ishmael                                              1
Robert                                               1
y Family (familia)                                   1
and Frankie                                          1
and Emmett                                           1
Gato                                                 1
and kids (y los niños)                               1
Jorjito                                              1
Lydia, Miquel, Coco, Orlando, Jalianez               1
works at Blackbeards                                 1
Kalina Ballena                                       1
and Les                                              1
Kiwi KIm y familia                                   1
maybe Glen?                                          1
and Family (y familia)                               1
and his wife (y su Esposa)                           1
Lynn the Hairdesser                                  1
4 Kids - Christine, Edwin, Luis & Clara (4 hijos)    1
y hija                                               1
Snr y su hijo                                        1
Wife Abigail Nieves + Sons (esposa + hijos)          1
and family                                           1
Tsepo                                                1
Chinky                                               1
Kids (y hijos)                                       1
y Daughter (hija)                                    1
y Wife + Daughter (y esposa + hija)                  1
y Wife + Father (y esposa + padre)                   1
from VHS                                             1
Iggy                                                 1
Name: OTHER FAMILY MEMBERS (Otros familiares), dtype: int64

In [33]:
df_new.head(1)

,given_name,family_name,OTHER FAMILY MEMBERS (Otros familiares),Unnamed: 3,Unnamed: 4,TOTAL COUNT,full_name
0,Carlos,Acensio,NaN,NaN,1.0,835.0,Carlos Acensio

In [34]:
df_new = df_new[['given_name', 'family_name', 'full_name']]

In [35]:
DF.head(1)

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,alternate_names,description,sex,date_of_birth,age,home_street,home_neighborhood,home_city,home_state,home_postal_code,home_country,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,timestamp
0,1,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,NaN,NaN,NaN,NaN,NaN,NaN,Urb. Haciendas Monserrate,Manatí,NaN,NaN,NaN,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Pedro Uribe. Están bien y también su c...,Waziel,Collazo,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo,09-26-2017 00:00:00

In [36]:
df_new['home_city'] = 'Vieques'

In [37]:
df_new.head()

  given_name family_name       full_name home_city
0     Carlos     Acensio  Carlos Acensio   Vieques
1       Onyx     Acevedo    Onyx Acevedo   Vieques
2      Angie       Adams     Angie Adams   Vieques
3     Gladys       Adams    Gladys Adams   Vieques
4      Jorge       Adams     Jorge Adams   Vieques

## Include comments

In [38]:
df_new_ = pd.read_csv('/Users/lauram/Downloads/Vieques Safe List - Current - Sheet1.csv')

In [39]:
df_new['text'] = df_new_['OTHER FAMILY MEMBERS (Otros familiares)']

In [40]:
df_new.head(1)

  given_name family_name       full_name home_city text
0     Carlos     Acensio  Carlos Acensio   Vieques  NaN