In [2]:
import pandas as pd 

df = pd.read_csv('/Users/lauram/mtb_snail_uploads2/data/Utuado-Lista_09262017.csv', 
                 header=None)

df.columns = ['first_name', 'last_name', 'town', 'neighborhood', 'data', 
               'hour', 'comment', 'volunteer', 'data_source']

df.head()

for i in df.columns[2:].tolist():
    df[i] = df[i].shift(-1)

df['data_source'] = df['data_source'].str.replace('Ponce', 'Utuado')

df['town'] = df['town'].str.replace('Ponce','Utuado')

#df.to_csv('utuado_092617.csv')

In [3]:
df.head()

,first_name,last_name,town,neighborhood,data,hour,comment,volunteer,data_source
0,Waziel,Collazo,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg

In [4]:
df2 = pd.read_csv('/Users/lauram/mtb_snail_uploads2/data/092617_batch_001.csv')

In [5]:
df2.columns

Index([u'person_record_id', u'author_name', u'author_email', u'author_phone',
       u'source_name', u'Timestamp', u'source_url', u'full_name',
       u'given_name', u'family_name', u'alternate_names', u'description',
       u'sex', u'date_of_birth', u'age', u'home_street', u'home_neighborhood',
       u'home_city', u'home_state', u'home_postal_code', u'home_country',
       u'photo_url', u'profile_urls', u'note_record_id',
       u'author_made_contact', u'status', u'email_of_found_person',
       u'phone_of_found_person', u'last_known_location', u'text',
       u'Unnamed: 30'],
      dtype='object')

In [18]:
df2.head(1)

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,...,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,Unnamed: 30
0,1.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,...,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Pedro Uribe. Están bien y también su c...,NaN

columns needed:

In [19]:
df2.columns

Index([u'person_record_id', u'author_name', u'author_email', u'author_phone',
       u'source_name', u'Timestamp', u'source_url', u'full_name',
       u'given_name', u'family_name', u'alternate_names', u'description',
       u'sex', u'date_of_birth', u'age', u'home_street', u'home_neighborhood',
       u'home_city', u'home_state', u'home_postal_code', u'home_country',
       u'photo_url', u'profile_urls', u'note_record_id',
       u'author_made_contact', u'status', u'email_of_found_person',
       u'phone_of_found_person', u'last_known_location', u'text',
       u'Unnamed: 30'],
      dtype='object')

In [11]:
rename_map = {'volunteer': 'author_name', 'comment': 'text', 'data': 'date'}

In [16]:
df = df.rename(index = None, columns=rename_map)

In [17]:
df.head()

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source
0,Waziel,Collazo,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg

In [29]:
df['full_name'] = df['first_name'].str.cat(df['last_name'], sep =' ', na_rep='')

In [31]:
df.head()

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name
0,Waziel,Collazo,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Sleiny Candelaria
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Zulgenielis Candelaria
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Keydan Candelaria
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,NaN,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Angel Reyes Fradera

In [39]:
df['hour'].fillna('00:00:00', inplace=True)

In [40]:
df['timestamp'] = df['date'].str.cat(df['hour'], sep = ' ', na_rep = '' )

In [43]:
df.head(1)

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,timestamp
0,Waziel,Collazo,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo,09-26-2017 00:00:00

In [44]:
df2.head(1)

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,...,photo_url,profile_urls,note_record_id,author_made_contact,status,email_of_found_person,phone_of_found_person,last_known_location,text,Unnamed: 30
0,1.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,...,NaN,NaN,NaN,False,safe,NaN,NaN,NaN,Junto a Pedro Uribe. Están bien y también su c...,NaN

In [46]:
df2.drop('Unnamed: 30', axis=1, inplace=True)

In [47]:
set(df2.columns).difference(set(df.columns))

{'Timestamp',
 'age',
 'alternate_names',
 'author_email',
 'author_made_contact',
 'author_phone',
 'date_of_birth',
 'description',
 'email_of_found_person',
 'family_name',
 'given_name',
 'home_city',
 'home_country',
 'home_neighborhood',
 'home_postal_code',
 'home_state',
 'home_street',
 'last_known_location',
 'note_record_id',
 'person_record_id',
 'phone_of_found_person',
 'photo_url',
 'profile_urls',
 'sex',
 'source_name',
 'source_url',
 'status'}

In [48]:
for i in set(df2.columns).difference(set(df.columns)):
    df[i] = ''

posibles statuses en el google person finder: 
1. unspecified, 2. i am seeking information, 3. i am this person. 4. i have received information that this person is alive.  5. i have reason to think this person is missing.

In [49]:
df.head()

,first_name,last_name,town,neighborhood,date,hour,text,author_name,data_source,full_name,...,description,alternate_names,source_url,home_country,person_record_id,photo_url,family_name,age,last_known_location,phone_of_found_person
0,Waziel,Collazo,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Waziel Collazo,...,,,,,,,,,,
1,Sleiny,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Sleiny Candelaria,...,,,,,,,,,,
2,Zulgenielis,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Zulgenielis Candelaria,...,,,,,,,,,,
3,Keydan,Candelaria,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Keydan Candelaria,...,,,,,,,,,,
4,Angel,Reyes Fradera,Utuado,NaN,09-26-2017,00:00:00,Safe - Refugio Feliz Seijo,F. Agosto,092617_Utuado_RefugioFelixSeijo_1.jpg,Angel Reyes Fradera,...,,,,,,,,,,

In [51]:
DF = pd.concat([df2, df], axis=1)

In [52]:
DF.head()

,person_record_id,author_name,author_email,author_phone,source_name,Timestamp,source_url,full_name,given_name,family_name,...,description,alternate_names,source_url,home_country,person_record_id,photo_url,family_name,age,last_known_location,phone_of_found_person
0,1.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:35:25,NaN,Ingrid Garriga,Ingrid,Garriga,...,,,,,,,,,,
1,2.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 19:36:30,NaN,Pedro Uribe,Pedro,Uribe,...,,,,,,,,,,
2,3.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 20:05:14,NaN,Fernando Ortiz Dicorely,Fernando,Ortiz Dicorely,...,,,,,,,,,,
3,4.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 20:05:59,NaN,Fabian Ortiz Dicorely,Fabian,Ortiz Dicorely,...,,,,,,,,,,
4,5.0,Laura Colón Meléndez,mariatechbrigade@gmail.com,NaN,NaN,9/23/2017 20:07:05,NaN,Jose Luis Dicorrelly,Jose Luis,Dicorrelly,...,,,,,,,,,,